[submodule "src/prezto"]
	path = src/prezto
	url = https://github.com/DanHatesNumbers/prezto.git
[submodule "src/powerline-fonts"]
	path = src/powerline-fonts
	url = https://github.com/powerline/fonts.git
