[submodule "src/prezto"]
	path = src/prezto
	url = https://github.com/DanHatesNumbers/prezto.git
[submodule "src/powerline-fonts"]
	path = src/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "src/prezto-contrib"]
	path = src/prezto-contrib
	url = https://github.com/belak/prezto-contrib.git
[submodule "src/.tmux"]
	path = src/.tmux
	url = https://github.com/gpakosz/.tmux.git
